
.header {
  width: 100px;
  position: fixed;
  color:  blue;
  display: flex;
}

.body {
  height: 1200px;
  background-color: red;
}

.menu {
  margin: 0 auto;
  background-color: green;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
}